.container-top {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container-sec {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.box {
  margin: 10px;
  /* background: rgb(214, 88, 88); */
  width: 50%;
  height: 100%;
}

.btn-char {
  width: 50px;
  background-color: #e96767 !important;
}

.box-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin: 10px; */
  padding: 10px;
  background: rgb(38, 146, 209);
}

.table {
  overflow: scroll;
  height: 350px;
}

.pd-3 {
  height: 2px;
}

.error-text {
  color: #e96767;
}
